<!doctype html>
<html>
  <head>
      <meta charset="utf-8">
      <meta name="description" content="">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>Scribbler - a codding landing page template for codrops</title>
      <link rel="stylesheet" href="{{ url_for('static', filename='css/font-awesome.min.css') }}">
      <link href="{{ url_for('static', filename='css/fonts.css') }}" rel="stylesheet">
      <link rel="stylesheet" href="{{ url_for('static', filename='css/railscasts.min.css') }}">
      <link rel="stylesheet" href="{{ url_for('static', filename='css/scribbler-global.css') }}">
      <link rel="stylesheet" href="{{ url_for('static', filename='css/scribbler-landing.css') }}">
      <link rel="author" href="../tehumans.txt">
  </head>
  <body>
    <nav>
      <div class="logo"></div>
      <ul class="menu">
        <div class="menu__item toggle"><span></span></div>
        <li class="menu__item"></li>
        <li class="menu__item"></li>
      </ul>
    </nav>
    <div class="hero">
      <h1 class="hero__title">Human Detection</h1>
      <p class="hero__description">Detect human and count people</p>
    </div>
    <div class="hero__terminal">
      <pre>
        <!-- Place your demo code here -->
        <iframe width=100% height=200% src="https://www.youtube.com/embed/6NOnQthDMhw" frameborder="0" allow="accelerometer; gyroscope; picture-in-picture" ></iframe>
        <!--<code class="shell-session demo">hyperyolo modeify with video ~ $ </code> -->
      </pre>
    </div>
    <div class="wrapper">
      <div class="installation">
        <h3 class="section__title">Techniques</h3>
        <div class="tab__container">
          <ul class="tab__menu">
            <li class="tab active" data-tab="mac">Yolo</li>
            <li class="tab" data-tab="linux">Darknet</li>
            <li class="tab" data-tab="win">RCNN</li>
          </ul>
          <pre class="nohighlight code">
            <code class="tab__pane active mac">You only look once (YOLO) is a state-of-the-art, real-time object detection system.</code>
            <code class="tab__pane linux">Darknet prints out the objects it detected, its confidence, and how long it took to find them.</code>
            <code class="tab__pane win">Region-CNN (R-CNN) is one of the state-of-the-art CNN-based deep learning object detection approaches. </code>
          </pre>
        </div>
      </div>
      <div class="feature" >
        
        
        
        <div class="feature__item">
         
      </div>
      
      <!--
      <div class="keybinding">
        <ul class="keybinding__detail">
          <h3 class="keybinding__title">Default Keybindings</h3>
          <li>Quit without saving <span class="keybinding__label">Ctrl+C</span></li>
          <li>Save <span class="keybinding__label">Cmd+S</span></li>
          <li>Save and Quit <span class="keybinding__label">Ctrl+D</span></li>
          <li>Undo <span class="keybinding__label">Cmd+Z</span></li>
        </ul>
        <ul class="keybinding__detail">
          <h3 class="keybinding__title">Markdown Keybindings</h3>
          <li><span class="keybinding__label">Ctrl+A</span> Insert Link Markdown</li>
          <li><span class="keÃybinding__label">Ctrl+I</span> Insert Image Markdown</li>
          <li><span class="keybinding__label">Ctrl+V</span> Insert YouTube Video</li>
          <li><span class="keybinding__label">Ctrl+T</span> Insert Table</li>
        </ul>
      </div>
      
      -->
      <div class="callout">
        <p>Upload or Take a photo for prediction</p>
        <a href="doc.html" class="button--primary">Documentation</a>
        <!--   flask -->
        <form action = "" method = "POST" 
         enctype = "multipart/form-data">
         <input type = "file" name = "file" />
         <input type = "submit"/>
      </form>
      </div>
    </div>
    <div class="changelog">
      <div class="wrapper">
        <h3 class="section__title">Realtime Video Prediction</h3>
        <div class="changelog__item">
          <!--    video  outputs -->
          
        </div>
        <div class="changelog__callout">
          <!-- <a href="#" class="button--secondary">Checkout Full Log</a> -->
        </div>
      </div>
    </div>
    <footer class="footer"></footer>
    <script src="{{ url_for('static', filename='js/highlight.min.js') }}"></script>
    <script>hljs.initHighlightingOnLoad();</script>
    <script src="{{ url_for('static', filename='js/scribbler.js') }}"></script>
  </body>
</html>