<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Human Detection</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/font-awesome.min.css') }}">
    <link href="{{ url_for('static', filename='css/fonts.css') }}" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/scribbler-global.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/scribbler-landing.css') }}">
    <link rel="author" href="humans.txt">
  </head>
  <body>
    <div class="doc__bg"></div>
    <nav class="header">
      <h1 class="logo">Human <span class="logo__thin">Detection</span></h1>
      <ul class="menu">
        <div class="menu__item toggle"><span></span></div>
        <li class="menu__item"><a href="{{ url_for('static', filename='../') }}" class="link link--dark"><i class="fa fa-home"></i> Home</a></li>
      </ul>
    </nav>
    <div class="wrapper">
      <aside class="doc__nav">
      </aside>
      <article class="doc__content">
        <section class="js-section">
          <!-- <img src= {{url}} alt="Image" width ="224" height ="224"> -->
          <h3 class="section__title">Prediction 1</h3>
          <div class="code__block code__block--notabs">
          	<img src= {{url}} alt="Image">
          </div>
        </section>
        
        <section class="js-section">
          
          <hr />
        </section>
        <section class="js-section">
          
        </section>
      </article>
    </div>

    <footer class="footer"></footer>
    <script src="{{ url_for('static', filename='js/highlight.min.js') }}"></script>
    <script>hljs.initHighlightingOnLoad();</script>
    <script src="{{ url_for('static', filename='js/scribbler.js') }}"></script>
  </body>
</html>